.box {
    width: 100px;
    height: 100px;
    transition-duration: 200ms;
}

.aqua {
    background-color: aqua;
}

.box:hover {
    background-color: red;
}

.box:focus {
    background-color: black;
    color: white;
}