 #top-header {
            color: blue;
            background-color: black;
 }

 .larger {
    font-size: larger;
 }

 .border{
    border: 2px solid black;
 }
 .small-margin {
    margin: 10px;
 }

 .small-padding {
    padding-top: 200px;
 }

 .move-left {
    margin-right: 100px;
 }