body{
  background-color: black;
}

.container{
  width: 40vw;
  padding: 8px;
  background-color: black;
  box-shadow: 2px 2px 8px gold;
  border-radius: 20px;
  border: none;
  margin: 3%;
}

#head {
  color: gold;
  font-family: "Comic Relief", system-ui;
  font-weight: 700px;
  font-size: 35px;
  font-style: normal;
}

input {
  background-color: black;
  color:gold;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  width: 450px;
  font-size: 20px;
}

input:focus {
  border-color: yellow;
  outline: none;
}

button {
  width: 23vw;
  height: 60px;
  font-family: "Comic Relief", system-ui;
  font-weight: 700px;
  font-size: 30px;
  font-style: normal;
  background-color: gold;
  border-radius: 20px;
  border: none;
  margin-top: 3%;
}

#answer {
  color: gold;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;
}